.list{padding:50px 0 20px;  font-size: 0;}
.list li {display: inline-block; width:14.2%; text-align: center; cursor: pointer;}
.list li::after{
    content: ''; display: block; width:12px; height:12px;
    border:1px solid #8d8d8d; border-radius: 50%; border-top-right-radius: 20%; transition: all 0.2s;transform: rotate(-45deg); 
    margin: 0 auto; margin-top: 20px; 
}

.list li.on::after{
    background-color:#8d8d8d; border-top-right-radius: 20%;border:1px solid #8d8d8d; transform: rotate(135deg);
}
.place{font-weight: 500; font-size: 18px; color:#777777;}
